<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find Closest Serovar</title>
</head>
<body>
  <h1>Salmonella Serovar Finder</h1>

  <form method="POST" action="{% url 'antigen_finder' %}">
    {% csrf_token %}
    <label>Serovar Name:</label>
    <input type="text" name="serovar_name" placeholder="e.g. Chester"><br><br>

    <button type="submit">Search</button>
  </form>

  {% if result %}
    <hr>
    <h3>Result:</h3>
    <textarea rows="10" cols="60" readonly>
         
              Antigenic formula:
  -----------------------------------
  Serovar Name:     | {{ result.serovar_name }}
  -----------------------------------
  H-Antigen:        | {{ result.h_antigen }}
  -----------------------------------
  Phase1 O-antigen: | {{ result.o_AntigenPhase1 }}
  -----------------------------------
  Phase2 O-antigen: | {{ result.o_AntigenPhase2 }}
    </textarea>
  {% endif %}

  <p><a href="{% url 'index' %}">Back to Home</a></p>
</body>
</html>
