<!DOCTYPE html>
<html>
<head>
    <title>Salmonella Serovar Finder</title>
</head>
<style>
body {
      display: flex;
      flex-direction: column;
      align-items: center;       /* centers horizontally */
      justify-content: center;   /* centers vertically */
      min-height: 100vh;         /* makes body full height */
      font-family: Arial, sans-serif;
    }

    textarea {
      resize: none;
    }

    input, button {
      padding: 5px 10px;
      margin: 5px 0;
    }

    hr {
      width: 10000000000000;
      margin: 20px auto;
    }

</style>
<body>
    <h1 style="position:absolute;top: 10px;font-size: 50px;">Welcome to the Salmonella Serovar Finder</h1>

    <p style="font-size:25px;">Use this tool to find the closest serovar to a given location.</p>
    <a href="{% url 'serovar_finder' %}">
        <button>Go to Serovar Finder</button>
    </a>

    <br>
    <br>

    <p style="font-size:25px;">Use this tool to find the antigenic formula given a serovar name.</p>
    <a href="{% url 'antigen_finder' %}">
        <button>Go to Antigen formula finder</button>
    </a>

</body>
</html>
